
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Last updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= truncate(project.description, length:50) %></td>
    <td><%= Time.parse(project.updated_on).strftime("%b %d") %></td>
    <td><%= link_to 'Show', project %></td>
    <!-- <td><%= link_to 'Edit', edit_project_path(project) %></td> -->
    <!-- <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
