<p id="notice"><%= notice %></p>

<h2><%= @project.name %></h2>
<% unless @project.description.empty?%>
<p><%= @project.description %></p>
<% end %>

<div id="stats">
  <h3>Today:</h3>
  <ul>
    <% @statuses.each do |status| %>
    <li><%= status %>: <span id="count"><%= @issues_today.find_all { |issue| issue.status.name == status}.count %></span></li>
    <% end %>
  </ul>
</div>

<h3>Last issues reported</h3>
<ul class="issues">
<% @issues.each do |issue| %>
<li class="<%= cycle('list_line_odd', 'list_line_even') %>">

<span class="bugid"><%= issue.id %></span><span class="title"><%= issue.subject %></span><span class="desc"><%= issue.description %></li>
<% end %>
</ul>
<%= link_to 'Back', projects_path %>
