/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

* {
    font-size:100%;
    border:0;
    outline:0;
    margin:0;
    padding:0;
}

#header {
    background-color:#222;

    h1 {
	padding:1em 2em;
	font-size:3em;
	color:#555;
	text-shadow:0px -1px 0px #000;
	
	span#red {
	    color:#D55;
	}
    }
}

#page {
      margin:2em;
}