// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
      tr {
	  background-color:#EEE;
	  padding:0;
	  margin:0;
	  outline:0;
	  &:hover {
	      background-color:#FCC;
	  }
      }
}

h2 {
    font-size:3em;
    padding:0.5em 0;
    margin-left:2%;
}

h2 + p  {
    margin-left:2%;
    color:#AAA;
    margin-bottom:2em;
}

ul.issues {

    list-style:none;
    border:1px solid #555;

    li.list_line_odd {
	background:#AAA;
    }

    li {
	border:1px solid red;
	border-left:0;
	border-right:0;
	padding:1em;
	border:1px;
    }

    span.bugid {
	padding:0 0.5em;
	font-weight:bold;
	color:#333;
    }
    span.desc {
	display:block;
	color:#555;
	font-size:0.8em;
	text-transform:lowercase;
    }

}