<!DOCTYPE html>
<html>
<head>
  <title>Redminer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
<h1><span id="red">Red</span>miner</h1>
</div>
<div id="page">
<%= yield %>
</div>
</body>
</html>
